.tab-pane label{
  font-size: 14px;
  margin-bottom: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: auto;
    padding: 5px 5px;
    line-height: 1.5;
    margin-left: 5px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: auto;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto!important;
    margin: 0;
    opacity: 0;
}
.custom-file {

    height: auto;
}
.card-action{
  padding: 20px;
}

.card-action h5{
  margin-left: 8px;
  font-weight: 900;
}
