.bg-gradient {
	width: 100wh;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #ff5413, #ffab13, #ff7e00, #ff4700);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes flickerAnimation {
0%   { opacity:1; }
50%  { opacity:0.6; }
100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
0%   { opacity:1; }
50%  { opacity:0.6; }
100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
0%   { opacity:1; }
50%  { opacity:0.6; }
100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
0%   { opacity:1; }
50%  { opacity:0.6; }
100% { opacity:1; }
}
.animate-flicker {
-webkit-animation: flickerAnimation 1s infinite;
-moz-animation: flickerAnimation 1s infinite;
-o-animation: flickerAnimation 1s infinite;
animation: flickerAnimation 1s infinite;
}
.bg-404 {
	width: 100wh;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #f5f5f5, #ffd07b, #ff9c3d, #f1b679);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.bg-404-2 {
	width: 100wh;
	height: 100vh;
	color: #fff;
	background-image: none!important;
	background-color: #f5f5f5;
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.bg-404-2 .page-404 h1{
	font-size: 130px;
	color: #ff8800;
}
.bg-404-2 .page-404 h2, .bg-404-2 .page-404 p{
	color: grey;
}
.page-404 h1{
	font-size: 130px;
}
@media (max-width:576px){
.bg-404{
	max-height: 100vh;
}
	.page-404 h1{
		font-size: 100px;
		text-align: center;
	}
	.col-md-6{
		text-align: center;
	}
}
