.view {
    background-image: url('../img/png/bglogin.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}

body {
    height: 100%
}

.btn-login {
    background-image: linear-gradient(to right, #fea14b, #ff5816);
    color: #fff !important;
    border-radius: 50px;
    background-color: #ff4b00;
    padding: 3% 13%;
}

.img-logologin {
    max-width: 250px;
    margin: 3%auto;
}

/* Required for full background image */

html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {

  
}

@media (min-width: 800px) and (max-width: 850px) {

    html,
    body,
    header,
    .view {
        height: 700px;
    }
}

.top-nav-collapse {
    background-color: #39448c !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #39448c !important;
    }
}

h6 {
    line-height: 1.7;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 50px;
    border: 2px solid #e6e6e6;
    border-radius: 25px;
}

.validate-input {
    position: relative;
}

.s1-txt4 {
    font-size: 15px;
    color: #555;
    line-height: 1.2;
}

.placeholder0::-webkit-input-placeholder {
    color: #999999;
}

.placeholder0:-moz-placeholder {
    color: #999999;
}

.placeholder0::-moz-placeholder {
    color: #999999;
}

.placeholder0:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/

.input100 {
    border: 0;
    display: block;
    width: 100%;
    background: transparent;
}

input.input100 {
    height: 100%;
    border: 0;
    padding: 0 30px 0 30px;
}

input:focus {
    border: 0 !important;
    text-decoration: none !important;
    outline-width: 0;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    pointer-events: none;
    border: 2px solid #fe5514;
    border-radius: 25px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.2);
    -moz-transform: scaleX(1.1) scaleY(1.2);
    -ms-transform: scaleX(1.1) scaleY(1.2);
    -o-transform: scaleX(1.1) scaleY(1.2);
    transform: scaleX(1.1) scaleY(1.2);
}

.input100:focus+.focus-input100 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
