body{

}
#maindiv{
overflow: hidden;
white-space: nowrap;
overflow: hidden;
height: 72px;
}
.inner {
position: relative;
left: -97%;
}
#div1 {
display: inline-block;
animation: marquee 30s linear infinite;
width: 100%;
margin-right: -5px;
}
#div2 {
width: 100%;
display: inline-block;
animation: marquee2 30s linear infinite;
animation-delay: 15s;
}
@keyframes marquee {
from {
transform: translateX(100%);
}
to {
transform: translateX(-100%);
}
}
@keyframes marquee2 {
from {
transform: translateX(0%);
}
to {
transform: translateX(-200%);
}
}

.row-currency .col-2:last-child {
    border-left: 0px solid #797979;
    border-right: 0px solid #797979;
}

.row-currency .col-2 {
    border-right: 1px solid #797979;
}
/* Make it a marquee */
.marquee-text {
    color: #fff;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee-text 50s linear infinite;
}

.marquee-text:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee-text {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}
