
	body {
		font-family: 'Raleway', sans-serif;
	}
	.navbar {
		background-color: #252434;
		padding: 0;
		position: fixed;
		width: 100%;
		z-index: 10;
	}
	.navbar-brand {
		max-width: 150px;
		padding: 15px;
	}
	.navbar.navbar-dark .breadcrumb .nav-item.router-link-exact-active>.nav-link,
	.navbar.navbar-dark .navbar-nav .nav-item.router-link-exact-active>.nav-link {
		background-color: rgb(255 255 255 / 0);
		border-bottom: 5px solid orange;
		line-height: 3.5;
	}
	.navbar.navbar-dark .breadcrumb .nav-item>.nav-link.router-link-exact-active,
	.navbar.navbar-dark .navbar-nav .nav-item>.nav-link.router-link-exact-active {
		background-color: rgb(255 255 255 / 0);
		border-bottom: 5px solid orange;
		line-height: 3.5;
	}
	.navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover,
	.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
		color: rgb(255 255 255 / 0.75);
		border-bottom: 5px solid #e86516;
		line-height: 3.5;
	}
	.navbar.navbar-dark .breadcrumb .nav-item .nav-link,
	.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
		color: #fff;
		transition: 0.35s;
		line-height: 3.5;
		font-size: 13px;
	}
	.bgheader-member {
		background-image: url('../img/png/bgheadermember.png');
		background-size: 100%;
		background-position: top center;
		background-repeat: no-repeat;
		background-color: #f5f5f5;
	}
	.row-profile {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.row-tips {
		padding-bottom: 5%;
		padding-top: 0.5rem;
	}
	.bgoren {
		height: 65px;
		background-color: #fe8033;
	}
	.row-profile .rounded-circle {
		border: #ff8a5c solid 5px;
		border-radius: 50% !important;
	}
	.img-profile {
		width: 150px;
	}
	.panel-statistic {
		background-image: linear-gradient(to top, #dadada, #f7f7f7, #efefef);
		color: grey;
		height: 100%;
		padding: 4%;
	}
	.borderradius-left {
		border-top-left-radius: 60px;
		border-bottom-left-radius: 60px;
		border: #ffaf7e70 solid 5px;
	}
	.borderradius-right {
		border-top-right-radius: 60px;
		border-bottom-right-radius: 60px;
		border: #ffaf7e70 solid 5px;
	}
	.text-orange {
		color: #ff5916;
	}
	.text-green {
		color: #009400 !important;
		font-size: 12px;
	}
	.text-blue {
		color: blue !important;
	}
	.text-red {
		color: red !important;
	}
	.text-yellow{
		    color: #ffa905;
	}
	.text-c5{
		    color: #c5c5c5;
	}
	.nav-tabs .nav-link {
		border: transparent solid 1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.text-small {
		font-size: 12px;
	}
	.card {
		border-radius: 0;
	}
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.router-link-exact-active {
		color: #495057;
		background-color: #f3f3f3;
		border-top: 3px solid #ff5413 !important;
		border-bottom: 1px solid transparent;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
	}
	.nav-tabs .nav-link:hover {
		border-top: 3px solid orange;
		border-bottom: 1px solid transparent;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
	}
	.nav-tabs .nav-item:first-child {
		margin-bottom: -1px;
		background-color: #f64f00;
	}
	.nav-tabs .nav-item {
		margin-bottom: -1px;
		background-color: #ff5500;
	}
	.nav-tabs .nav-link {
		color: white;
	}
	.nav-tabs .nav-item:last-child {
		margin-bottom: -1px;
		background-color: #ff8400;
	}
	.nav-tabs {
		border-bottom: 0;
		padding-left: 30px;
	}
	.tab-content>.active {
		display: block;
		padding: 15px;
		background-color: #f5f5f5;
	}
	.row-titletips {
		color: #b3b3b3;
		font-size: 12px;
		text-align: center;
	}
	.row-tips a {
		color: #bbbbbb;
	}
	.row-titletips .col-1-custom:first-child {
		margin-left: 10px;
		text-align: left;
	}
	.row-content-tips {
		color: #000;
	}
	.row-content-tips h6 {
		font-weight: bold;
	}
	.row-content-tips p {
		font-size: 9px;
		text-align: center;
	}
	.col-orange {
		background-color: #ff5414;
		border-left: 3px solid orange;
		color: white;
	}
	.col-orange-white {
		background-color: #fff;
		border-left: 3px solid orange;
	}
	.row-content-tips h5{
		font-size: 15px;
	}
	.col-white {
		background-color: white;
		text-align: center;

	}
	.comment-admin{
		border-left: 1px solid white;
    color: white;

	}
	.comment-admin a{
    color: white;

	}
	.col-1-custom {
		flex: 0 0 12.2%;
		max-width: 12.5%;
	}
	.col-title-large {
		flex: 0 0 15.8%;
		max-width: 15.8%;
	}
	.col-title-small {
		flex: 0 0 9%;
		max-width: 9%;
	}
	.col-small-custom {
		flex: 0 0 9%;
		max-width: 9%;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
	}

	.col-content-custom {
		flex: 0 0 15.8%;
		max-width: 15.8%;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
	}
	.fullscreen-chat {
		height: calc(100% - 62px);
	}
	.borderleft {
		border-left: 1px solid #e0e0e0 !important;
	}
	.borderright {
		border-right: 1px solid #e0e0e0;
	}
	.col-option-custom {
		flex: 0 0 1%;
		max-width: 1%;
	}
	.col-option-custom i {
		color: #b3b3b3;
		font-size: 24px;
	}
	.col-chart-container {
		overflow: hidden;
	}
	.col-chart {
		margin-left: auto;
		padding: 0;
		margin-right: 27px;
	}
	.row-content-tips h6 {
		font-size: 12px;
	}
	.list-group-item {
		border-radius: 0 !important;
		border: rgb(0 0 0 / 0.125) solid 0;
		font-size: 12px;
	}
	.dropdown-menu.show {
		display: block;
		border: 0;
	}
	.dropdown-menu {
		min-width: 100px;
	}
	.drop-following {
		border: #f5f5f5 solid 1px;
		border-left: 3px solid orange;
		color: grey;
	}
	.drop-following:hover {
		border: #f5f5f5 solid 1px;
		border-left: 3px solid orange;
		background-image: linear-gradient(to right, #ff5413, #fe7c30, #fe8536);
		color: white;
	}
	.drop-details:hover {
		border: #f5f5f5 solid 1px;
		border-left: 3px solid orange;
		background-image: linear-gradient(to right, #ff5413, #fe7c30, #fe8536);
		color: white;
	}
	.drop-details {
		border: #f5f5f5 solid 1px;
		border-left: 3px solid orange;
		color: grey;
	}
	.name-message-orange {
		color: orange;
		font-size: 14px;
		margin-bottom: 5px;
	}
	.name-message-blue {
		color: blue;
		font-size: 14px;
		margin-bottom: 5px;
	}
	.name-message-black {
		color: black;
		font-size: 14px;
		margin-bottom: 5px;
	}
	.top_menu {
		background-color: #36334b;
		width: 100%;
		padding: 7px 0;
		box-shadow: 0 1px 30px rgb(0 0 0 / 0.1);
	}
	.top_menu img {
		max-width: 60px;
	}
	.top_menu .buttons {
		margin: 3px 0 0 20px;
		position: absolute;
	}
	.top_menu .buttons .button {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		display: inline-block;
		margin-right: 10px;
		position: relative;
	}
	.top_menu .buttons .button.close {
		background-color: #f5886e;
	}
	.top_menu .buttons .button.minimize {
		background-color: #fdbf68;
	}
	.top_menu .buttons .button.maximize {
		background-color: #a3d063;
	}
	.top_menu .title {
		text-align: center;
		color: #bcbdc0;
		font-size: 20px;
	}
	.messages {
		position: relative;
		list-style: none;
		padding: 20px 10px 0 10px;
		margin: 0;
		height: 347px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.messages .message {
		clear: both;
		overflow: hidden;
		margin-bottom: 20px;
		transition: all 0.5s linear;
		opacity: 0;
	}
	.messages .message.left .avatar {
		background-color: #f5886e;
		float: left;
	}
	.messages .message.left .text_wrapper {
		background-color: #fff;
		margin-left: 20px;
	}
	.messages .message.left .text_wrapper::after,
	.messages .message.left .text_wrapper::before {
		right: 100%;
		border-right-color: #fff;
	}
	.messages .message.left .text {
		color: grey;
	}
	.messages .message.right .avatar {
		background-color: #fdbf68;
		float: right;
	}
	.messages .message.right .text_wrapper {
		background-color: #fff;
		margin-right: 20px;
		float: right;
	}
	.messages .message.right .text_wrapper::after,
	.messages .message.right .text_wrapper::before {
		left: 100%;
		border-left-color: #fff;
	}
	.messages .message.right .text {
		color: grey;
	}
	.messages .message.appeared {
		opacity: 1;
	}
	.messages .message .avatar {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		display: inline-block;
	}
	.messages .message .text_wrapper {
		display: inline-block;
		padding: 10px 20px 10px 20px;
		border-radius: 6px;
		width: calc(100% - 85px);
		min-width: 100px;
		position: relative;
	}
	.checklist {
		text-align: right;
		font-size: 10px;
		color: #009dff;
	}
	.messages .message .text_wrapper::after,
	.messages .message .text_wrapper:before {
		top: 18px;
		border: transparent solid;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	.messages .message .text_wrapper::after {
		border-width: 13px;
		margin-top: 0;
	}
	.messages .message .text_wrapper::before {
		border-width: 15px;
		margin-top: -2px;
	}
	.messages .message .text_wrapper .text {
		font-size: 12px;
		font-weight: 300;
	}
	.bottom_wrapper {
		position: absolute;
		width: 100%;
		background-color: #eaeaea;
		padding: 5px 10px;
		bottom: 0;
	}
	.bottom_wrapper .message_input_wrapper {
		display: inline-table;
		height: 50px;
		border-radius: 3px;
		width: 100%;
		position: relative;
		padding: 0 10px;
		background-color: #fff;
	}
	.bottom_wrapper .message_input_wrapper .message_input {
		font-size: 12px;
		border: none;
		height: 100%;
		box-sizing: border-box;
		width: calc(80% - 40px);
		position: absolute;
		outline-width: 0;
		color: gray;
	}
	.bottom_wrapper .send_message {
		width: 40px;
		height: 40px;
		margin-top: 5px;
		line-height: 2;
		display: inline-block;
		border-radius: 50px;
		background-color: #fe8334;
		border: #fe8334 solid 2px;
		color: #fff;
		cursor: pointer;
		transition: all 0.2s linear;
		text-align: center;
		z-index: 100;
		float: right;
	}
	.bottom_wrapper .send_message:hover {
		color: #fe8334;
		background-color: #fff;
	}
	.bottom_wrapper .send_message .text {
		font-size: 18px;
		font-weight: 300;
		display: inline-block;
	}
	.message_template {
		display: none;
	}
	.bg-red {
		background-color: #f15012;
	}
	.bg-grey {
		background-color: #b8b8b8;
	}
	.popover-body {
		color: #00d800;
		font-size: 8px;
		text-align: center;
		padding: 5px;
	}
	.popover-header {
		padding-top: 2px;
		padding-bottom: 0;
		margin-bottom: 0;
		font-size: 1rem;
		text-align: center;
		color: #00d800;
		background-color: #fff;
		border-bottom: 0 solid #ebebeb;
		border-top-left-radius: calc(0.3rem - 1px);
		border-top-right-radius: calc(0.3rem - 1px);
	}
	.pagination .page-item a {
		line-height: 1;
	}
	.pagination .page-item .page-link {
		color: #868e96;
		font-size: 18px;
		border: 0;
		margin: auto 5px;
		border-radius: 5px;
		background-color: #dedede;
	}
	.pagination .page-item.active .page-link,
	.pagination .page-item:hover .page-link {
		color: #dedede;
		background-color: #868e96 !important;
		box-shadow: none;
		font-weight: 600;
		border-radius: 5px;
		z-index: 0;
	}
	.pagination .page-item .page-link:hover {
		color: #fff;
		font-size: 18px;
		background-color: #505050;
	}
	.pagination .page-item .page-link:active {
		color: #fff;
		font-size: 18px;
		background-color: #505050;
	}
	.page-footer {
		background-color: #1d1c29;
	}
	.text-footer {
		padding-left: 5%;
	}
	.text-footer img {
		max-width: 200px;
		padding-bottom: 3%;
	}
	.text-footer p {
		font-size: 12px;
	}
	.footer-copyright .text-zotify {
		display: inline;
	}
	.footer-copyright {
		background-color: #000 !important;
		font-size: 10px;
	}
	.disclaimer {
		font-size: 9px;
		padding-left: 4%;
		padding-right: 4%;
		color: #cecece;
	}
	.color-zotify {
		color: #ff9200;
	}
	.btn-zotified {
		background-color: #ff5614 !important;
		color: #fff !important;
		padding: 2% 8%;
		width: 100%;
		box-shadow: none;
		margin: 0;
		letter-spacing: 4px;
		font-weight: 700;
	}
	.panel-calendar {
		background-color: #37334c;
		color: grey;
		border-top-left-radius: 5px;
		height: 100%;
		border-top-right-radius: 5px;
		height: 75px;
		color: white;
		padding: 10px;
		width: 100%;
	}
	.panel-calendar h2 {
		font-size: 22px;
	}
	.panel-time {
		background-color: #fe8436;
		color: grey;
		color: white;
		padding: 0;
		width: 100%;
	}
	.zotify-me {
		background-color: #ff5414;
		text-align: center;
	}
	.upgrade-me {
		background-color: #b3b3b3;
		text-align: center;
	}
	@media (max-width:576px) {
		.chat-box {
			display: none;
		}
		.slideInUp {
			display: block;
		}
		.chat_window {
			max-width: 800px;
			height: 100%;
			border-radius: 0;
			left: 50%;
			top: 50%;
			box-shadow: 0 2px 5px 0 rgb(0 0 0 / 0.16), 0 2px 10px 0 rgb(0 0 0 / 0.12);
			background-color: #eaeaea;
			overflow: hidden;
		}
		.boxshadow-chart {
			box-shadow: 0 0 9px 2px #00000038;
		}
		.panel-statistic h1 {
			font-size: 20px;
		}
		.panel-statistic p {
			font-size: 12px;
		}
		.bgoren {
			height: 61px;
			background-color: #fe8033;
		}
		.bgheader-member {
			background-image: url('../img/png/bgheadermember.png');
			background-size: 465%;
			background-position: top center;
			background-repeat: no-repeat;
			background-color: #f5f5f5;
		}
		.row-profile {
			text-align: center;
		}
		.row-profile {
			padding-top: 5%;
			padding-bottom: 0;
		}
		.row-tips .col-12 {
			padding: 0;
		}
		.card {
			background-color: transparent;
			box-shadow: none;
		}
		.nav-tabs {
			padding: 0;
			font-size: 13px;
		}
		.row-titletips {
			display: none;
		}
		.tab-content h3 {
			display: none;
		}
		.pcview {
			display: none;
		}
		.col-orange {
			display: flex;
			background-image: linear-gradient(to right, #ff5413, #fe7c30, #fe8536);
			color: white;
		}
		.mobileview {
			display: block !important;
			box-shadow: 0 0 9px 2px #00000038;
		}
		.chatbox {
			position: fixed;
			right: 0;
			bottom: 0;
			z-index: 9999;
		}
		.chat-box {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0;
			height: calc(100% - 63px);
		}
		.chat_window {
			min-width: 320px;
			height: 100%;
			border-radius: 0;
			left: 50%;
			top: 50%;
			box-shadow: 0 2px 5px 0 rgb(0 0 0 / 0.16), 0 2px 10px 0 rgb(0 0 0 / 0.12);
			background-color: #eaeaea;
			overflow: hidden;
			z-index: 9999;
		}
		.chat-closed {
			color: white;
			padding: 12px;
			background-color: #2a273b;
			width: 100%;
			text-align: center;
			font-size: 14px;
			position: fixed;
			bottom: 0;
			z-index: 10000;
		}
		.row-content-tips {
			margin-top: 5%;
		}
		.top_menu h3 {
			font-size: 18px;
		}
		.top_menu p {
			font-size: 11px;
		}
		.hide {
			display: none !important;
		}
		.messages {
			position: relative;
			list-style: none;
			padding: 20px 10px 0 10px;
			margin: 0;
			height: 100%;
			overflow: scroll;
			padding-bottom: 120px;
		}
		.notification-dots {

    right: 37px!important;

}
	}
	@media (min-width:576.1px) and (max-width:768px) {
		.boxshadow-chart {
			box-shadow: 0 0 9px 2px #00000038;
		}
		.pcview {
			display: none;
		}
		.row-titletips {
			display: none;
		}
		.tab-content h3 {
			display: none;
		}
		.pcview {
			display: none;
		}
		.col-orange {
			display: flex;
			background-image: linear-gradient(to right, #ff5413, #fe7c30, #fe8536);
			color: white;
		}
		.panel-statistic h1 {
			font-size: 20px;
		}
		.panel-statistic p {
			font-size: 12px;
		}
		.bgheader-member {
			background-image: url('../img/png/bgheadermember.png');
			background-size: 450%;
			background-position: top center;
			background-repeat: no-repeat;
			background-color: #f5f5f5;
		}
		.row-profile {
			text-align: center;
		}
		.row-profile {
			padding-top: 2%;
			padding-bottom: 0;
		}
		.row-tips .col-12 {
			padding: 0;
		}
		.card {
			background-color: transparent;
			box-shadow: none;
		}
		.nav-tabs {
			padding: 0;
			font-size: 13px;
		}
		.nav-tabs .nav-item.show .nav-link,
		.nav-tabs .nav-link.active {
			background-color: transparent;
			color: white;
			border-top: 0;
			border-bottom: 2px solid white;
		}
		.mobileview {
			display: block !important;
			box-shadow: 0 0 9px 2px #00000038;
		}
		.chatbox {
			position: fixed;
			right: 0;
			bottom: 0;
			z-index: 9999;
		}
		.chat-box {
			height: calc(100% - 63px);
			position: fixed;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 9999;
		}
		.chat_window {
			min-width: 320px;
			height: 100%;
			border-radius: 0;
			left: 50%;
			top: 50%;
			box-shadow: 0 2px 5px 0 rgb(0 0 0 / 0.16), 0 2px 10px 0 rgb(0 0 0 / 0.12);
			background-color: #eaeaea;
			overflow: hidden;
			z-index: 9999;
		}
		.chat-closed {
			color: white;
			padding: 12px;
			background-color: #2a273b;
			width: 100%;
			text-align: center;
			font-size: 14px;
			position: fixed;
			bottom: 0;
			z-index: 10000;
		}
		.row-content-tips {
			margin-top: 15px;
		}
		.top_menu h3 {
			font-size: 18px;
		}
		.top_menu p {
			font-size: 11px;
		}
		.hide {
			display: none !important;
		}
		.messages {
			position: relative;
			list-style: none;
			padding: 20px 10px 0 10px;
			margin: 0;
			height: 100%;
			overflow: scroll;
			background-color: #f5f5f5;
			padding-bottom: 140px;
		}
		.closehide{
			display: block!important;
		}
	}
	@media (min-width:768.1px) and (max-width:992px) {
		.tab-pane .mobileview {
			display: none;
		}
		.tablepricing {
			margin-bottom: 10%;
		}
		.pricing-tables-wrap {
			border-radius: 10px;
			float: left;
			background-color: transparent;
			width: 90%;
			display: flex;
		}
		.panel-statistic h1 {
			font-size: 30px;
		}
		.panel-statistic p {
			font-size: 12px;
		}
		.bottom_wrapper {
			position: absolute;
			width: 100%;
			background-color: #eaeaea;
			padding: 5px 10px;
			position: absolute;
			bottom: 0;
		}
		.chat-box {
			height: calc(100% - 63px);
			position: fixed;
			bottom: 0;
			right: 0;
			left: 0;
			z-index: 9999;
		}
		.chatbox {
			position: fixed;
			right: 0;
			bottom: 0;
			z-index: 9999;
		}
		.chat_window {
			min-width: 320px;
			height: 100%;
			border-radius: 0;
			left: 50%;
			top: 50%;
			box-shadow: 0 2px 5px 0 rgb(0 0 0 / 0.16), 0 2px 10px 0 rgb(0 0 0 / 0.12);
			background-color: #eaeaea;
			overflow: hidden;
			z-index: 9999;
		}
		.chat-closed {
			color: white;
			padding: 12px;
			background-color: #2a273b;
			width: 100%;
			text-align: center;
			font-size: 14px;
			position: fixed;
			bottom: 0;
			z-index: 10000;
		}
		.row-content-tips {
			margin-top: 5px;
		}
		.top_menu h3 {
			font-size: 18px;
		}
		.top_menu p {
			font-size: 11px;
		}
		.hide {
			display: none !important;
		}
		.messages {
			position: relative;
			list-style: none;
			padding: 20px 10px 0 10px;
			margin: 0;
			height: 100%;
			overflow-x: hidden;
			overflow-y: scroll;
			background-color: #f5f5f5;
			padding-bottom: 140px;
		}
		.col-chart {
			margin-left: calc(12.2% + 0.5rem);
			flex: 0 0 84% !important;
			max-width: 84% !important;
			margin-right: 20px !important;
		}
	}
	@media (max-width:1200px) and (min-width:992.1px) {
		.mobileview {
			display: none;
		}
		.col-chart {
			margin-left: calc(12.2% + 0.5rem);
			margin-right: 20px !important;
			flex: 0 0 84%;
			max-width: 84% !important;
		}
		.row-content-tips {
			margin-top: 5px;
		}
		.chat_window {
			position: absolute;
			width: calc(100% - 20px);
			max-width: 800px;
			border-radius: 0;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			box-shadow: 0 2px 5px 0 rgb(0 0 0 / 0.16), 0 2px 10px 0 rgb(0 0 0 / 0.12);
			background-color: #eaeaea;
			overflow: hidden;
		}
		.top_menu h3 {
			font-size: 20px;
		}
		.messages {
			position: relative;
			list-style: none;
			padding: 20px 10px 0 10px;
			margin: 0;
			height: 445px;
			overflow-x: hidden;
			overflow-y: scroll;
			background-color: #f5f5f5;
			padding-bottom: 50px;
		}
		.closehide {
			display: none!important;
		}
	}
	@media (min-width:1200.1px) {
		.closehide{
			display: none;
		}
		.pricing-tables-wrap {
			border-radius: 10px;
			float: left;
			background-color: transparent;
			width: 90%;
			display: flex;
		}
		.mobileview {
			display: none;
		}
		.row-content-tips {
			margin-top: 5px;
		}
		.chat_window {
			position: relative;
			width: calc(100% - 20px);
			max-width: 800px;
			border-radius: 0;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(0%);
			box-shadow: 0 2px 5px 0 rgb(0 0 0 / 0.16), 0 2px 10px 0 rgb(0 0 0 / 0.12);
			background-color: #eaeaea;
			overflow: hidden;
			height: 600px !important;
		}
	}
	.messages {
		position: relative;
		list-style: none;
		padding: 20px 10px 0 10px;
		margin: 0;
		height: 500px !important;
		overflow-x: hidden;
		overflow-y: scroll;
		padding-bottom: 50px;
	}
	.col-chart {
		margin-left: calc(12.2% + 0.5rem);
		flex: 0 0 84.333333% !important;
		max-width: 84.1% !important;
	}
	.closehide {
		position: absolute;
		right: 10px;
	}
	.chat_window {
		height: 100%;
	}
	.chat-closed {
		z-index: 10000000;
	}
	@keyframes placeHolderShimmer {
		0% {
			background-position: -468px 0;
		}
		100% {
			background-position: 468px 0;
		}
	}
	.loading-placeholder {
		animation-duration: 1.5s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-name: placeHolderShimmer;
		background: #fff;
		background: linear-gradient(to right, #fff 8%, #f7f7f7 18%, #fff 33%);
		background-size: 800px 104px;
		position: relative;
	}
	.rowpricing {
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.tablepricing {
		max-width: 450px !important;
	}
	.pricing-tables-wrap {
		border-radius: 10px;
		float: left;
		background-color: transparent;
		width: 90%;
	}
	.pricing-tables-item-solid {
		text-align: center;
		margin: 0 2px;
		padding: 40px 30px;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		z-index: 1;
	}
	.crumina-pricing-tables-item {
		position: relative;
		transition: all 0.3s ease;
	}
	.pricing-tables-item-solid.bg-light:hover .bg-layer {
		background-image: linear-gradient(to right top, #fff, #fff);
		color: #000;
	}
	.pricing-tables-item-solid.bg-light:hover .btn-pricing {
		background-color: #ff9a00 !important;
		color: #fff;
	}
	.pricing-tables-item-solid.bg-light:hover .position-item {
		color: #ff9a00;
	}
	.pricing-tables-item-solid.bg-light:hover .main-pricing-content {
		color: #ff9a00;
	}
	.main-pricing-content {
		color: #fff;
	}
	.pricing-tables-item-solid .pricing-title {
		font-size: 26px;
		margin: 0 0 30px 0;
		transition: all 0.3s ease;
	}
	.pricing-tables-item-solid .pricing-tables-position {
		margin-bottom: 40px;
	}
	.main-pricing-content ul {
		list-style-type: none;
	}
	.pricing-tables-item-solid .position-item {
		margin-bottom: 7px;
		color: #fff;
		transition: all 0.3s ease;
	}
	.position-item {
		color: #273f5b;
		font-weight: 700;
		font-size: 14px;
		margin-bottom: 18px;
	}
	.pricing-tables-item-solid:hover .bg-layer {
		background-color: #fff;
		transform: translate3d(0, 0, 0) scale(1.05);
		backface-visibility: hidden;
	}
	.full-block {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 10px;
	}
	.pricing-tables-item-solid .bg-layer {
		box-shadow: 20px 0 60px 0 rgb(0 0 0 / 0.1);
		background-image: linear-gradient(to right top, #fea34c, #fe7c30, #ff5413);
		border-radius: 10px;
		z-index: -1;
		transition: all 0.3s ease;
	}
	.btn-pricing {
		padding: 10px 22px;
		font-weight: bold;
		border-radius: 30px;
		background-color: #fff !important;
		color: #ff9b00;
	}
	.row-price {
		background-image: url('../img/png/bgprice.png');
		background-size: 118%;
		background-position: top center;
		background-repeat: no-repeat;
		background-color: #353149;
		overflow-x: hidden;
	}
	.carousel-indicators li {
		bottom: -50px;
		background-color: #f5f5f5;
	}
	.carousel-indicators .active {
		background-color: grey;
	}
	.carousel-control-next,
	.carousel-control-prev {
		position: absolute;
		top: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 6%;
		color: #fff;
		text-align: center;
		opacity: 0.5;
	}
	.rowpricing {
		padding-left: 10%;
		padding-right: 10%;
	}
	.crumina-pricing-tables-item {
		height: 100%;
	}
	.bgbody {
		background-image: url(../img/png/bgprice.png);
		background-size: 118%;
		background-position: bottom center;
		background-repeat: no-repeat;
		background-color: #fff;
	}
	.carousel-indicators {
		bottom: 70px;
	}

	/* NOTIFICATION */
	@media (min-width: 768px){
		.theme-default #main-navbar .dropdown-menu {
				background: #fff;
				padding: 5px 0;
		}}
		@media (min-width: 768px){
		#main-navbar .pull-right .dropdown-menu {
				float: right;
				left: auto;
				right: 0;
		}}
		.widget-notifications .notifications-list {
				overflow: scroll;
				position: relative;
				background-color: #f5f5f5;
		}
		.notifications-list{
			overflow: scroll;
			width: auto;
			height: 250px;
		}
		#main-navbar .dropdown-menu {
				padding: 0;
		}
		.navbar-nav>li>.dropdown-menu {
				margin-top: 0;
				border-top-right-radius: 0;
				border-top-left-radius: 0;
		}
		.pull-right .dropdown-menu {
				left: auto;
				float: right;
				right: 0;
		}
		.open>.dropdown-menu {
				display: block;
		}
		.no-padding {
				padding: 0!important;
		}
		.dropdown-menu {
				border: 2px solid #ccc;
				-webkit-box-shadow: none;
				box-shadow: none;
		}
		.dropdown-menu {
			position: absolute;
				top: 100%;
				left: -190px;
				right: 0;
				z-index: 1000;
				display: none;
				width: 300px;
				padding: 5px 0;
				margin: 2px 0 0;
				list-style: none;
				font-size: 13px;
				background-color: #fff;
				border: 1px solid #ccc;
				border: 1px solid rgba(0,0,0,.15);
				border-radius: 2px;
				-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
				box-shadow: 0 6px 12px rgba(0,0,0,.175);
				background-clip: padding-box;
		}
		@media (min-width: 768px){
		.theme-default #main-navbar .widget-notifications .notification, .theme-default #main-navbar .widget-notifications .notifications-link {
				border-color: #f1f1f1;
				-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.05)inset;
				box-shadow: 0 1px 0 rgba(255,255,255,.05)inset;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
		}}
		.widget-notifications .notification {
				position: relative;
				padding: 7px 12px;
		}
		@media (min-width: 768px){
		.theme-default #main-navbar .widget-notifications .notification, .theme-default #main-navbar .widget-notifications .notifications-link {
				border-color: #f1f1f1;
				-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.05)inset;
				box-shadow: 0 1px 0 rgba(255,255,255,.05)inset;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
		}}
		@media (min-width: 768px){
		.theme-default #main-navbar .widget-notifications a {
				color: !important;
		}}
		@media (min-width: 768px){
		#main-navbar li a {
				line-height: 46px;
		}}
		#main-navbar li a {
				line-height: 42px;
				padding-top: 0;
				padding-bottom: 0;
		}
		.widget-notifications .notifications-link {
				text-align: center;
				border-top: 1px solid #252434;
				background-color: #252434;
				display: block;
				text-decoration: none!important;
				font-weight: normal;
				color: #f5f5f5!important;
				line-height: 18px!important;
				height: auto!important;
		}
		.notifications-link{
			padding-top:10px!important;
			padding-bottom: 10px!important;
		}
		.scroll-div{
			position: relative;
		overflow: scroll;
		width: auto;
		height: 250px;
		}
		.header-link{
			border-bottom: 1px solid #e4e4e4;
		}
		.notification i{
			font-size: 30px;
		}
		.notification{
			border-bottom: 1px solid #e4e4e4
		}
		.notifications-list {

				line-height: 0!important;
		}
		.notifications-list a {
				padding: 0!important;
				font-size: auto!important;
				font-weight: 300;
				color: #000;
				width: 100%;
				line-height: 2!important;
		}
		.notifications-list a:hover{
			background-color: #dddddd!important;
		}
		.notification .message {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;
			display: inline-block;
		}
.dropdown-price{
  width: 50px;
color: green;
text-align: center;
}
.dropdown-toggleprice:hover .dropdown-price {display: block;}

.navbar-nav .mobileview{
    box-shadow: 0 0 9px 2px #ffffff00!important;
	}
/* CARD CAROUSEL */

	.card-carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	}
	.card-carousel .my-card {
	height: 100%;
	width: 20rem;
	position: relative;
	z-index: 1;
	-webkit-transform: scale(0.6) translateY(-2rem);
	transform: scale(0.6) translateY(-2rem);
	opacity: 0;
	cursor: pointer;
	pointer-events: none;
	transition: 1s;
	}
	.card-carousel .my-card:after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	border-radius: 100%;
	background-color: rgba(0,0,0,0.3);
	bottom: -5rem;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	}
	.card-carousel .my-card.active {
	z-index: 3;
	-webkit-transform: scale(1) translateY(0) translateX(0);
	transform: scale(1) translateY(0) translateX(0);
	opacity: 1;
	pointer-events: auto;
	transition: 1s;
	}
	.card-carousel .my-card.prev, .card-carousel .my-card.next {
	z-index: 2;
	-webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
	transform: scale(0.8) translateY(-1rem) translateX(0);
	opacity: 0.6;
	pointer-events: auto;
	transition: 1s;
	}
/* MODAL */
.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 90%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow: hidden;
}
.modal-body li{
	border-bottom: 1px solid #f5f5f5;
}
 .notification-dots{
	 font-size: 7px;
    top: 3px;
    position: absolute;
    right: 15px;
    box-shadow: 0px 0px 0px 1px #fff;
    border-radius: 30px;
 }
.col-orange h6{
	color: white

}
.bg-transition-green {
    background-color: #d5f4e8;

}

.bg-transition-red {
    background-color: #fedcd9;

    animation: fadeout 2s forwards;
    animation-delay: 2s;
    -moz-animation: fadeout 2s forwards;
    -moz-animation-delay: 2s;
    -webkit-animation: fadeout 2s forwards;
    -webkit-animation-delay: 2s;
    -o-animation: fadeout 2s forwards;
    -o-animation-delay: 2s;
}


@keyframes fadeout {
    to {
        background-color:#fff;
    }

}
@-moz-keyframes fadeout {
    to {
        background-color: #fff;
    }
}
@-webkit-keyframes fadeout {
    to {
        background-color: #fff;
    }
}
@-o-keyframes fadeout {
    to {
        background-color: #fff;
    }
}


.bg-transition-green {
    background-color: #d5f4e8;

    animation: fadeout-green 2s forwards;
    animation-delay: 2s;
    -moz-animation: fadeout-green 2s forwards;
    -moz-animation-delay: 2s;
    -webkit-animation: fadeout-green 2s forwards;
    -webkit-animation-delay: 2s;
    -o-animation: fadeout-green 2s forwards;
    -o-animation-delay: 2s;
}


@keyframes fadeout-green {
    to {
        background-color:#fff;
    }

}
@-moz-keyframes fadeout-green {
    to {
        background-color: #fff;
    }
}
@-webkit-keyframes fadeout-green {
    to {
        background-color: #fff;
    }
}
@-o-keyframes fadeout-green {
    to {
        background-color: #fff;
    }
}
