html,
body,
.view {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

header {
    background: url("../img/png/header.png")no-repeat center center;
    background-size: cover;
}

/* LOADER */

.navbar {
    background-color: transparent;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
}

.card {
    max-width: 1300px !important;
}

.navbar-brand {
    max-width: 150px;
    padding: 15px;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: transparent;
    border-bottom: 3px solid orange;
}

/*
.active {
	background-color: transparent;
	border-bottom: 3px solid orange;
}
 */

.navbar.navbar-dark .breadcrumb .nav-item:hover>.nav-link,
.navbar.navbar-dark .navbar-nav .nav-item:hover>.nav-link {
    background-color: transparent;
    border-bottom: 3px solid #fe631d;
}

.top-nav-collapse {
    background-color: #37304c;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

a.waves-effect,
a.waves-light {
    line-height: 44px;
}

.text-zotify {
    color: #ff9200;
}

.btn-orange {
    background-color: #ff5413 !important;
    color: #fff !important;
    border-radius: 30px;
    padding: 10px 30px;
}

.small-text {
    font-size: 12px;
}

.text-orange {
    color: orange
}

.paneltips {
    background-image: linear-gradient(to right top, #fea34c, #fe7c30, #ff5413);
    height: 100%;
    padding: 10% 0;
}

.currency-info {
    background-color: black;
    height: 100%;
    height: 100px;
    padding: 20px
}

.text-green {
    color: #3ec49d;
}

.text-red {
    color: #ea4562;
}

.row-currency .col-2:last-child {
    border-left: 0px solid #797979;
    border-right: 0px solid #797979;
}

.row-currency .col-2 {
    border-right: 1px solid #797979;
}

.row-history {
    background-color: #ff5413;
    padding: 30px 0;
}

.row-datatable {
    padding-top: 7%;
    padding-bottom: 5%
}

.row-carousel {
    padding-top: 6%;
    padding-bottom: 3%
}

.rowpricing {
    padding-bottom: 4%;
}

.bgdatatable {
    background: url("../img/png/bgmain.png")no-repeat top center;
    background-size: cover;
}

.row-datatable tbody {
    background-color: white;
    border: 1px solid transparent;
}

.row-datatable thead {
    color: white
}

.table td,
.table th {
    border-top: 2px solid #3e3b54;
}

.pagination .page-item a {
    line-height: 1;
}

.pagination .page-item .page-link {
    color: #6f68a2;
    font-size: 18px;
    border: 1px solid #6f68a2;
    margin: auto 5px;
    border-radius: 5px;
}

.pagination .page-item .page-link:hover {
    color: #fff;
    font-size: 18px;
    background-color: #6f68a2
}

.pagination .page-item .page-link:active {
    color: #fff;
    font-size: 18px;
    background-color: #6f68a2
}

.getaccess {
    background-color: white;
    color: grey;
    border-left: 5px solid #fe5e1c;
}

.getaccess:hover {
    background-color: #36334b;
    color: white;
}

.active.getaccess {
    background-color: #36334b;
    color: red;
}

.getaccess:hover img {
    filter: brightness(0) invert(1);
}

.bg-grey {
    background-color: #dedede;
}

.imgforma {
    width: 50px;
    margin-right: 3%;
    max-height: 50px;
}

.getaccess {
    color: white;
    background-color: #36334b;
}

.getaccess img {
    filter: brightness(0) invert(1);
}

.purplearrow {
    background-image: url('../img/png/arrow.png');
    background-size: 58%;
    background-position: center left;
    background-repeat: no-repeat;
    content: "";
}

.row-datatable {
    background-color: #36334b
}
.row-video {
    background-color: #36334b;
    padding-bottom: 5%;
}
.row-carousel {
    background-image: url('../img/png/bgcarousel.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.oren {
    padding: 0 !important;
}

.row-carousel h3 {
    padding: 30px 0;
}

.card-footer {
    background-image: linear-gradient(to right top, #ff5413, #fe7c30, #fea34c);
}

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion .card-header {
    background-color: #ff5300;
}

.row-carousel .col-10 {
    max-width: 1300px
}

.row-chart .col-12 {
    max-width: 1300px;
}

.tablepricing {
    max-width: 450px !important
}

.row-download-report {
    margin-top: 5%
}

/* TABLE */

.col-1-custom {
  flex: 0 0 12.2%;
  max-width: 12.5%;
}
.col-title-large {
  flex: 0 0 15.8%;
  max-width: 15.8%;
}
.col-title-small {
  flex: 0 0 9%;
  max-width: 9%;
}
.col-small-index {
  flex: 0 0 9%;
  max-width: 9%;

}

.col-content-custom {
  flex: 0 0 15.8%;
  max-width: 15.8%;

}
.col-orange {
    display: flex;
    background-image: linear-gradient(to right, #ff5413, #fe7c30, #fe8536);
    color: white;
}

.col-orange-white {
    background-color: #fff;
    border-left: 3px solid orange;
}

.row-header {
    overflow: hidden;
}
.row-price{
  padding-left: 10%;
  padding-right: 10%;
}
/* MEDIA */

/* XL */

@media (min-width: 1300px) {
    .mobileview {
        display: none;
    }

    .row-header {
        padding-top: 10%;
        padding-bottom: 5%
    }

    .text-footer p {
        font-size: 12px;
        width: 500px;
    }

    .row-header h1 {
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 10%
    }

    .row-header h4 {
        padding-left: 25%;
        padding-right: 25%;
    }

    .row-header h3 {
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 5%
    }

    .macheader {
        max-width: 550px !important;
    }

    .navbar.scrolling-navbar .navbar-nav>li {
        margin-right: 20px;
    }

    .row-tips {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    .tips {
        background-color: #1d1c29;
        padding-bottom: 5%
    }

    .tips h2 {
        padding-top: 5%;
        padding-bottom: 5%
    }

    .row-chart {
        padding-left: 20%;
        padding-right: 20%;
    }

    /* CHART */
    .img-carousel {
        max-width: 370px;
    }

    .section-profit {
        background-color: #ff5413;
        padding: 5% 21%;
        position: relative;
    }

    .section-profit h3 {
        padding-bottom: 10px
    }

    .bgmap {
        background-image: url('../img/png/map.png');
        background-size: 82%;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .row-price {
        background-image: url('../img/png/bgprice.png');
        background-size: 118%;
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #353149;
    }
}

/* LG */

@media (min-width: 992px) {
    .mobileview {
        display: none;
    }

    .pricing-tables-wrap {
        border-radius: 10px;
        float: left;
        background-color: transparent;
        width: 90%;
        display: flex;
    }

    .row-header {
        padding-top: 15%;
        padding-bottom: 10%
    }

    .row-header h1 {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%
    }

    .row-header h4 {
        padding-left: 10%;
        padding-right: 10%;
    }

    .row-header h3 {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%
    }

    .macheader {
        max-width: 450px;
    }

    .paneltips {
        padding: 8% 0;
    }

    .text-footer p {
        font-size: 12px;
        /* width: 500px; */
    }

    .navbar.scrolling-navbar .navbar-nav>li {
        margin-right: 20px;
    }

    .row-tips {
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
    }

    .tips {
        background-color: #1d1c29;
        padding-bottom: 5%
    }

    .tips h2 {
        padding-top: 5%;
        padding-bottom: 5%
    }

    .row-chart {
        padding-left: 5%;
        padding-right: 5%;
    }

    .img-carousel {
        max-width: 370px;
    }

    .row-carousel button {
        float: right;
    }

    .section-profit {
        background-color: #ff5413;
        padding: 5% 21%;
        position: relative;
    }

    .section-profit h3 {
        padding-bottom: 10px
    }

    .bgmap {
        background-image: url('../img/png/map.png');
        background-size: 82%;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .row-price {
        background-image: url('../img/png/bgprice.png');
        background-size: 118%;
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #353149;
    }

    .playstore {
        padding-top: 5%;
    }
}

@media (min-width:992px) and (max-width: 1300px) {}

/* MD */

@media (min-width: 768px) and (max-width: 992px) {
    .mobileview {
        display: none;
    }

    .navbar {
        background-color: #37304c;
    }

    .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link:hover,
    .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link:hover,
    .navbar.navbar-dark .navbar-toggler,
    .navbar.navbar-dark form .md-form .form-control {
        margin-left: auto;
    }

    .getaccess {
        color: white;
        background-color: #36334b;
        font-size: 14px;
    }

    .tips {
        background-color: #1d1c29;
        padding-bottom: 5%
    }

    .img-carousel {
        max-width: 400px;
    }

    .row-header {
        padding-top: 20%;
        padding-bottom: 5%
    }

    .row-header h1 {
        font-size: 24px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .row-header h4 {
        font-size: 12px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .row-header span {
        text-align: center;
    }

    .tips {
        background-color: #1d1c29;
        padding-bottom: 5%;
    }

    .tips-theday h2 {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .row-carousel h3 {
        font-size: 18px
    }

    .img-carousel {
        max-width: 300px;
    }

    .carousel-item h3 {
        margin-top: 5%;
    }

    .row-carousel h4 {
        font-size: 16px;
    }

    .section-profit {
        background-color: #ff5413;
        padding: 5% 5%;
        position: relative;
    }

    .section-profit h3 {
        padding-bottom: 10%;
        padding-top: 10%
    }

    .card-footer .btn-white {
        font-size: 12px;
        float: right;
    }

    .timecaro-white {
        background-color: white;
        color: #36334b;
        font-size: 13px;
    }

    .team-section h2 {
        font-size: 24px
    }

    .bgmap {
        background-image: url('../img/png/map.png');
        background-size: 450px 200px;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .row-price {
        background-image: url('../img/png/bgprice.png');
        background-size: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #353149;
    }

    .row-price h2 {
        font-size: 22px;
    }

    .tablepricing {
        margin-bottom: 10%
    }

    .pricing-tables-wrap {
        border-radius: 10px;
        float: left;
        background-color: transparent;
        width: 90%;
        display: flex;
    }

    .purplearrow {
        background-image: url(../img/png/arrow.png);
        background-size: 64%;
        background-position: center left;
        background-repeat: no-repeat;
        content: "";
    }

    .playstore {
        padding-top: 5%;
    }
}

/* SM */

@media screen and (max-width: 768px) {
    .pcview {
        display: none;
    }

    .mobileview {
        display: block;
    }

    .navbar {
        background-color: #37304c;
    }

    .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link:hover,
    .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link:hover,
    .navbar.navbar-dark .navbar-toggler,
    .navbar.navbar-dark form .md-form .form-control {
        margin-left: auto;
    }

    .tips {
        background-color: #1d1c29;
        padding-bottom: 5%
    }

    .img-carousel {
        max-width: 400px;
    }

    .row-header {
        padding-top: 20%;
    }

    .row-header h1 {
        font-size: 24px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .row-header h4 {
        font-size: 12px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .row-header h3 {
        display: grid;
    }

    .row-header span {
        text-align: center;
    }

    .row-header img {
        padding-top: 10%
    }

    .tips {
        background-color: #1d1c29;
        padding-bottom: 5%;
    }

    .tips-theday h2 {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .row-carousel h3 {
        font-size: 18px
    }

    .img-carousel {
        max-width: 400px;
    }

    .carousel-item h3 {
        margin-top: 5%;
    }

    .row-carousel h4 {
        font-size: 16px;
        text-align: center;
    }

    .card-footer .col-12 {
        text-align: center;
    }

    .section-profit {
        background-color: #ff5413;
        padding: 5% 5%;
        position: relative;
    }

    .section-profit h3 {
        padding-bottom: 10%;
        padding-top: 10%
    }

    .btn-white {
        font-size: 12px;
    }

    .team-section h2 {
        font-size: 24px
    }

    .bgmap {
        background-image: url('../img/png/map.png');
        background-size: 450px 200px;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .row-price {
        background-image: url('../img/png/bgprice.png');
        background-size: 100%;
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #353149;
    }

    .row-price h2 {
        font-size: 22px;
    }

    .tablepricing {
        margin-bottom: 10%
    }

    .playstore {
        padding-top: 3%;
    }
}

@media screen and (max-width: 575px) {
    .pcview {
        display: none;
    }

    .mobileview {
        display: block;
    }

    .row-header {
        padding-top: 30%;
    }

    .row-header h1 {
        font-size: 24px;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    .row-header h4 {
        font-size: 12px;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .row-header h3 {
        display: grid;
    }

    .row-header span {
        text-align: center;
    }

    .row-header img {
        padding-top: 10%
    }

    .tips {
        background-color: #1d1c29;
        padding-bottom: 5%;
    }

    .tips-theday h2 {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .row-carousel h3 {
        font-size: 18px
    }

    .img-carousel {
        max-width: 263px;
    }

    .carousel-item h3 {
        margin-top: 5%;
    }

    .row-carousel h4 {
        font-size: 16px;
        text-align: center;
    }

    .card-footer .col-12 {
        text-align: center;
    }

    .section-profit {
        background-color: #ff5413;
        padding: 5% 5%;
        position: relative;
    }

    .section-profit h3 {
        padding-bottom: 10%;
        padding-top: 10%
    }

    .btn-white {
        font-size: 11px;
    }

    .team-section h2 {
        font-size: 24px
    }

    .bgmap {
        background-image: url('../img/png/map.png');
        background-size: 300px 200px;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .row-price {
        background-image: url('../img/png/bgprice.png');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        background-color: #353149;
    }

    .row-price h2 {
        font-size: 22px;
    }

    .tablepricing {
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link:hover,
    .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link:hover,
    .navbar.navbar-dark .navbar-toggler,
    .navbar.navbar-dark form .md-form .form-control {
        /*margin-left: 23%*/
    }

    .getaccess,
    .timecaro-white {
        font-size: 11px;
    }

    .purplearrow {
        display: none;
    }

    .playstore {
        padding-top: 3%;
        padding-bottom: 3%
    }
}

/* PRICING */

.pricing-tables-wrap {
    border-radius: 10px;
    float: left;
    background-color: transparent;
    width: 90%;
}

.pricing-tables-item-solid {
    text-align: center;
    margin: 0 2px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 1;
}

.crumina-pricing-tables-item {
    position: relative;
    transition: all .3s ease;
}

.pricing-tables-item-solid.bg-light:hover .bg-layer {
    background-image: linear-gradient(to right top, #fff, #fff);
    color: #000;
}

.pricing-tables-item-solid.bg-light:hover .btn-pricing {
    background-color: #ff9a00 !important;
    color: #fff;
}

.pricing-tables-item-solid.bg-light:hover .position-item {
    color: #ff9a00;
}

.pricing-tables-item-solid.bg-light:hover .main-pricing-content {
    color: #ff9a00;
}

.main-pricing-content {
    color: #fff;
}

.pricing-tables-item-solid .pricing-title {
    font-size: 26px;
    margin: 0 0 30px 0;
    transition: all .3s ease;
}

.pricing-tables-item-solid .pricing-tables-position {
    margin-bottom: 40px;
}

.main-pricing-content ul {
    list-style-type: none;
}

.pricing-tables-item-solid .position-item {
    margin-bottom: 7px;
    color: #fff;
    transition: all .3s ease;
}

.position-item {
    color: #273f5b;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 18px;
}

.pricing-tables-item-solid:hover .bg-layer {
    background-color: #fff;
    transform: translate3d(0, 0, 0) scale(1.05);
    backface-visibility: hidden;
}

.full-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.pricing-tables-item-solid .bg-layer {
    background-image: linear-gradient(to right top, #fea34c, #fe7c30, #ff5413);
    border-radius: 10px;
    z-index: -1;
    transition: all .3s ease;
}

.btn-pricing {
    padding: 10px 22px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #fff !important;
    color: #ff9b00;
}

.btn-map {
    padding: 1px 10px 1px 58px !important;
    border-radius: 5px;
    background-color: #ff5413;
    width: 150px;
    text-align: left !important;
    height: 32px;
}

.btn-map-light {
    padding: 1px 10px 1px 58px !important;
    border-radius: 5px;
    width: 150px;
    text-align: left !important;
    background-color: #d8d8d8;
    height: 32px;
}
/*
.btn-map-light:active,
.btn-map-light:focus,
.btn-map-light:hover {
    background-color: #ff5414;
} */

.btn-map-light img {
    float: left;
    width: 50px;
    margin-right: 5px;
    position: absolute;
    top: 1px;
    left: 1px;
}

.btn-map img {
    float: left;
    max-width: 50px;
    margin-right: 5px;
    position: absolute;
    top: 1px;
    left: 1px;
}

.team-section {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #353149;
}

.btn-white {
    background-color: #fff !important;
    color: #ff5413 !important;
    border-radius: 30px;
    font-weight: 900;
    padding: 10px 20px
}

.redarrow {
    position: relative;
}

.redarrow .col-lg-1 {
    position: absolute;
    top: -1px;
}

.redarrow .col-3 {
    position: absolute;
    top: -5px;
}

.redarrow .col-md-1 {
    position: absolute;
    top: -7px;
}

.timecaro-white {
    background-color: white;
    color: #36334b;
}

.color-zotify {
    color: #ff9200;
}

.page-footer {
    background-color: #1d1c29;
}

.text-footer {
    padding-left: 5%
}

.text-footer img {
    max-width: 200px;
    padding-bottom: 3%;
}

.text-footer p {
    font-size: 12px;
}

.footer-copyright .text-zotify {
    display: inline;
}

.footer-copyright {
    background-color: #000 !important
}

.disclaimer {
    font-size: 9px;
    padding-left: 4%;
    padding-right: 4%
}

.list-unstyled li {
    margin-bottom: 10px;
}

hr {
    border-top: 1px solid rgba(218, 218, 218, 0.26);
}

.header-lines-decoration {
    width: 100%;
    position: absolute;
    top: 0;
    height: 6px;
    left: 0;
}

.text-icon {
    font-size: 20px;
    margin-right: 10px;
}

.header-lines-decoration span {
    height: 100%;
    width: 30%;
    float: left;
}

.header-lines-decoration span:first-child,
.header-lines-decoration span:last-child {
    width: 35%;
}

/* color decoration */

.bg-first-color {
    background-color: #fea34c;
}

.bg-second-color {
    background-color: #ffd800;
}

.bg-third-color {
    background-color: #fea34c;
}

.bg-fourth-color {
    background-color: #fcba57;
}

/* TABLE */

.row-content-tips {
    color: #000;
    margin-top: 5px;
}

.row-content-tips h6 {
    font-weight: bold;
}

.row-content-tips p {
    font-size: 12px;
    text-align: center;
}

.row-content-tips h6 {
    font-size: 12px;
}

.row-titletips .col-1-custom:nth-child(2) {
    margin-left: .5rem;
}

.col-content-custom {
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    max-width: 12%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.col-1-custom {
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    max-width: 12.5%;
}

.borderleft {
    border-left: 1px solid #e0e0e0 !important;
}

.borderright {
    border-right: 1px solid #e0e0e0;
}

.col-option-custom {
    -ms-flex: 0 0 1%;
    flex: 0 0 1%;
    max-width: 1%;
}

.col-option-custom i {
    color: #6f6f6f;
    font-size: 24px;
}

.col-orange-table {
    background-color: #ff5414;
    border-left: 3px solid orange;
    color: white;
}

.col-orange-white {
    background-color: #fff;
    border-left: 3px solid orange;
}

.col-white {
    background-color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.darkpurple {
    background-color: #1d1c29 !important;
    box-shadow: none !important;
}

.row-titletips {
    color: #b3b3b3;
    font-size: 12px;
    text-align: center;
}

.col-1-custom {
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
    max-width: 12.5%;
}

.pagination.pg-blue .page-item.active .page-link,
.pagination.pg-blue .page-item.active .page-link:hover {
    background-color: #615a8e;
}

.text-green {
    color: #009400 !important;
    font-size: 12px;
}

.text-blue {
    color: blue !important;
}

.panel-calendar {
    background-color: #37334c;
    color: grey;
    border-top-left-radius: 5px;
    height: 100%;
    border-top-right-radius: 5px;
    height: 75px;
    color: white;
    padding: 10px;
    width: 100%;
}

.panel-calendar h2 {
    font-size: 22px;
}

.panel-time {
    background-color: #fe8436;
    color: grey;
    color: white;
    padding: 0px;
    width: 100%;
}

/* CAROSEL */

/* PRICING */

.pricing-tables-wrap {
    border-radius: 10px;
    float: left;
    background-color: transparent;
    width: 100%;
}

.pricing-tables-item-solid {
    text-align: center;
    margin: 0 2px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    z-index: 1;
}

.crumina-pricing-tables-item {
    position: relative;
    transition: all .3s ease;
}

.pricing-tables-item-solid.bg-light:hover .bg-layer {
    background-image: linear-gradient(to right top, #fff, #fff);
    color: #000;
}

.pricing-tables-item-solid.bg-light:hover .btn-pricing {
    background-color: #ff9a00 !important;
    color: #fff;
}

.pricing-tables-item-solid.bg-light:hover .position-item {
    color: #ff9a00;
}

.pricing-tables-item-solid.bg-light:hover .main-pricing-content {
    color: #ff9a00;
}

.main-pricing-content {
    color: #fff;
    min-height: 300px;
}

.pricing-tables-item-solid .pricing-title {
    font-size: 26px;
    margin: 0 0 30px 0;
    transition: all .3s ease;
}

.pricing-tables-item-solid .pricing-tables-position {
    margin-bottom: 40px;
}

.main-pricing-content ul {
    list-style-type: none;
}

.pricing-tables-item-solid .position-item {
    margin-bottom: 7px;
    color: #fff;
    transition: all .3s ease;
}

.position-item {
    color: #273f5b;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 18px;
}

.pricing-tables-item-solid:hover .bg-layer {
    background-color: #fff;
    transform: translate3d(0, 0, 0) scale(1.05);
    backface-visibility: hidden;
}

.full-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.pricing-tables-item-solid .bg-layer {
    background-image: linear-gradient(to right top, #fea34c, #fe7c30, #ff5413);
    border-radius: 10px;
    z-index: -1;
    transition: all .3s ease;
}

.btn-pricing {
    padding: 10px 22px;
    font-weight: bold;
    border-radius: 30px;
    background-color: #fff !important;
    color: #ff9b00;
}

.row-price {
    background-image: url('../img/png/bgprice.png');
    background-size: 118%;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #353149;
    padding-bottom: 10
}

.rowpricing {
    padding-left: 10%;
    padding-right: 10%;
}

.crumina-pricing-tables-item {
  min-height: 450px;
    height: 100%
}
.row-tips .col-lg-3:last-child h5{
	padding-top: 0!important
}

/* CAROUSEL PRICE */
#mixedSlider {
    position: relative;
    }
    #mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
      padding-left: 5%;
      padding-right: 5%;
    }
    #mixedSlider .MS-content .item {
    display: inline-block;
    width: 33.3333%;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 15px 10px;
    outline: 0
    }
    @media (max-width: 991px) {
    #mixedSlider .MS-content .item {
    width: 50%;
    }
    }
    @media (max-width: 767px) {
    #mixedSlider .MS-content .item {
    width: 100%;
    }
    }
    #mixedSlider .MS-content .item .imgTitle {
    position: relative;
    }
    #mixedSlider .MS-content .item .imgTitle .blogTitle {
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
    color: #252525;
    font-style: italic;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-weight: bold;
    padding: 0 0 2px 10px;
    }
    #mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
    }
    #mixedSlider .MS-content .item p {
    font-size: 16px;
    margin: 2px 10px 0 5px;
    text-indent: 15px;
    }
    /* #mixedSlider .MS-content .item a:hover {
    text-shadow: 0 0 1px grey;
    } */
    #mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 40%;
    color: #fff;
    transition: 0.15s linear;
    }
    #mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
    }

    @media (max-width: 767px) {
    #mixedSlider .MS-controls button {
    font-size: 20px;
    }
    }
    #mixedSlider .MS-controls .MS-left {
    left: 0px;
    }

    #mixedSlider .MS-controls .MS-right {
    right: 0px;
    }

    .text-yellow {
        color: #ffa905;
    }



    /* TERM & CONDITION */

    .term-condition .card{
    	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 1px 6px 10px 3px rgba(0,0,0,.12);
    }
    .term-condition .card-header{
    	background-color: transparent;
    	border-bottom: 1px solid transparent;
    	padding: 1.75rem 2rem;
    }
    .term-condition .card-body{
    	padding-left: 2rem;
    	padding-right: 2rem;
    	padding-bottom: 1rem;
    	padding-top: 0px;

    }
    .term-condition .card-body p{
    	font-size: 12px;
    	text-align: justify;
    }
    .term-condition .card-body li{
    	font-size: 12px;
    }
    .term-condition .card-body h6{
    	font-weight: 600
    }
    @media (max-width:576px){
    	.term-condition .card-header h3{
    		font-size: 1.5rem
    	}
    .shape-news{  clip-path:polygon(49% 279%, 100% 0%, -29% 1%)}
    }
.shape-news{
  background-color: #ffd900;
    border-right: 50px solid transparent;
    clip-path: polygon(49% 279%, 88% 0%, -29% 1%)
}
}
/* TOGGLE PRICE */
.switch span{
  font-weight: 700;
}

.switch label {
    cursor: pointer;
}
.switch label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}
[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #ff7c1f;
}
.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    background-color: #818181;
    -webkit-border-radius: .9375rem;
    border-radius: .9375rem;
    margin-right: .625rem;
    vertical-align: middle;
    margin: 0 1rem;
    width: 2.5rem;
    height: 19px;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #ffffff;
  left: 23px;
}
.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #f1f1f1;
  -webkit-border-radius: 1.3125rem;
  border-radius: 1.3125rem;
  left: 2px;
    top: 2px;
    width: 15px;
    height: 15px;
  -webkit-transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
  transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
  -o-transition: left .3s ease,background .3s ease,box-shadow 1s ease;
  transition: left .3s ease,background .3s ease,box-shadow 1s ease;
  transition: left .3s ease,background .3s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease;
}
